body {
    background-color: #f6f6a2;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: aquamarine;
    margin-top: 15%;
    height: 38rem;
&__header {
    display: flex;
    justify-content: center;
}
&__title {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10%;
    }
&__image {
   width: 15%;
   margin-top: 4%;
}
&__form {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    text-align: center;
    height: 5%;
}
&__form--placeholder--title {
    height: 2rem;
}
&__form input {
    text-align: center;
    margin-right: 1rem;
    height: 2rem;
}
}

.add__image {
    height: 2.3rem;
}

li img {
    height: 3rem;
    margin-right: 1rem;
}

input[type=checkbox] {
    transform: scale(2);
    margin-left: 2rem;
}

.task-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}


